.ncontainer {
    // background-image: linear-gradient(white, rgb(143, 185, 143));
    display: flex;
    justify-content: center;

    h2 {
        margin-top: 10px;
        margin-right: 30px;
        font-family: 'Great Vibes', cursive;
    }
}

.links {
    margin-top: 13px;
}