.ncontainer {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;

    h2 {
        margin-top: 10px;
        margin-right: 50px;
        font-family: 'Great Vibes', cursive;
    }
}

.links {
    margin-top: 13px;
}