body {
  background-image: url("images/5566.jpg");
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.container {
  display: flex;
}
a {
  margin: 10px;
  padding: 10px;
  color: blue;
  size: 50px;
}
.pl-container {
  display: flex;
}
.p-container {
  background-color: white;
  border: 2px solid green;
  width: 25%;
}
.p-container h1 {
  color: green;
}
.p-container p {
  color: red;
}
