body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
h1 {
  font-family: 'Great Vibes', cursive;
}
.main-bg {
  background-image: url('../components/images/plants.png');
  background-size: cover;
  height: 100vh;
}
.alt-bg {
  background-image: url('../components/images/plants2.png');
  background-size: auto;
  height: 200vh;
  background-repeat: repeat;
}
.intro {
  margin-left: 40%;
}
.login {
  margin: 20px 20px 20px 40%;
}
.login input {
  margin: 5px;
}
