@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/greatvibes/v8/RWmMoKWR9v4ksMfaWd_JN-XC.ttf) format('truetype');
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
h1 {
  font-family: 'Great Vibes', cursive;
}
.container {
  display: flex;
}
a {
  margin: 10px;
  padding: 10px;
  color: blue;
  size: 50px;
}
.pl-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.p-container {
  background-color: white;
  border: 2px solid green;
  border-radius: 5px;
  margin: 2%;
  padding: 2%;
  height: 400px;
  width: 200px;
}
.p-container h1 {
  color: green;
}
.p-container p {
  color: red;
}
