@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/greatvibes/v8/RWmMoKWR9v4ksMfaWd_JN-XC.ttf) format('truetype');
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
h1 {
  font-family: 'Great Vibes', cursive;
}
.main-bg {
  background-image: url('../components/images/plants.png');
  background-size: cover;
  height: 100vh;
}
.alt-bg {
  background-image: url('../components/images/plants2.png');
  background-size: auto;
  height: 200vh;
  background-repeat: repeat;
}
.intro {
  margin-left: 40%;
}
.login {
  margin: 20px 20px 20px 40%;
}
.login input {
  margin: 5px;
}
.ncontainer {
  background-color: rgba(255, 255, 255, 0.808);
  display: flex;
  justify-content: center;
}
.ncontainer h2 {
  margin-top: 10px;
  margin-right: 20px;
  font-family: 'Great Vibes', cursive;
}
.links {
  margin-top: 13px;
}
a {
  margin: 10px;
  padding: 10px;
  size: 50px;
}
.pl-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.p-container {
  background-color: rgba(255, 255, 255, 0.795);
  border: 2px solid green;
  border-radius: 25px;
  margin: 2%;
  padding: 2%;
  height: 400px;
  width: fit-content;
}
.p-container h1 {
  color: green;
}
.p-container p {
  color: black;
}
.plantslist_form {
  margin-left: 100px;
  background-color: rgba(255, 255, 255, 0.815);
  width: fit-content;
  padding: 20px;
  border-radius: 25px;
}
.plantslist_form input {
  margin: 10px;
}
.plantslist_form button {
  margin-left: 35%;
}
.plantcontainer {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}
